body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.info label {
    display: block;
    margin-bottom: 8px;
}

.info input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

form button {
    background-color: #4b4276;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #625693;
}